RestClients:
  #Format of REST URL is: https://{serverUrl}/{signBox}/v2
  #E.g: https://testbox.a-trust.at/testboxrest/v2
  A-Trust (A-Trust Connector API):
    UUID: 69b7fe41-3196-40bf-9458-b723c0bcc2b2
    Url: https://{serverUrl}/{signBox}/v2
    Icon: res:/webContent/icons/atrust-icon.png
    Features:
    - ch.ivyteam.ivy.rest.client.mapper.JsonFeature
    - com.axonivy.connector.atrust.config.HeaderFeature
    - org.glassfish.jersey.media.multipart.MultiPartFeature
    - com.axonivy.connector.atrust.config.OpenApiJsonFeature
    Properties:
      AUTH.apiKey: ${decrypt:\u00AC\u0078\u004A\u00A5\u000B\u0039\u0050\u0072\u0026\u0091\u000E\u0012\u00D2\u0048\u00F6\u009F\u0012\u00CB\u0048\u00B2\u00B2\u0098\u001A\u00BE\u0098\u0070\u0063\u0067\u0010\u00A4\u00A9\u00F5\u002E\u0097\u0021\u0041\u00D7\u001E\u00A5\u0049\u003B\u0065\u0001\u006C\u00EF\u0024\u00D4\u0008\u0031\u0036\u0081\u00DD\u0096\u0013\u00CE\u0016\u00B5\u00FD\u0049\u00D0\u00BE\u004F\u0031\u0032\u00F5\u004B\u0027\u0059\u005D\u0084\u0059\u00EA\u0007\u00D5\u00D8\u0066\u003A\u000D\u00CF\u0024\u001F\u00D8\u00AE\u00A1\u0053\u00A8\u00E5\u0048\u00BF\u0031\u0087\u00CD\u00AE\u001B\u0017\u0098\u0081\u0091\u006D\u00E3\u00F7\u0013\u00BD\u0038\u0066\u001A\u00F0\u00C6\u00FA\u00FE\u00FF\u00F6\u0089\u008E\u008A\u006B\u0071\u00AB\u006D\u003A\u00D1\u00F1\u00E9\u0043\u00A0\u0078\u00E3\u00CE\u00DF\u00BC\u0061\u0019\u0073\u005A\u004C\u005B\u00D1\u001D\u00F7\u004E\u007D\u008C\u0012\u00AC\u00F4\u0006\u001F\u00E5\u0084\u00A7\u00CB\u0092\u00E6\u0058\u00E2\u00D9\u0091\u00CC\u00B5\u00DE}
      PATH.serverUrl: ${ivy.var.ATrust.ServerUrl}
      PATH.signBox: ${ivy.var.ATrust.SignBox}
    OpenAPI:
      SpecUrl: file:///D:/work/Projects/AxonMarket/contributies/a-trust-connector/a-trust-connector/src/resources/config/ATrust-OpenAPI.yaml
      Namespace: at.a.trust.rest.api.client
